<!--
  Generated template for the RoomDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark" no-border>
    <button  menuToggle ion-button icon-only>
      <ion-icon item-end name="menu"></ion-icon>
    </button>
    <ion-title>Room Details</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding class="contentLayer">

  <ion-card class="Cards"  *ngFor="let rooms of roomLists">
    <img src= {{rooms.image}}>
    <ion-card-content>
      <ion-card-title class="title">
        {{rooms.roomTitle}}
      </ion-card-title>
        <p class="cardOverflow">{{rooms.detail}}</p>
      <div class="learnMoreButton">
        <button  ion-button clear  color="maroon"  icon-end (click)="roomDetailView(rooms)"> Read More <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
