<!-- Generated template for the ViewMoreComponent component -->
<ion-header>
  <ion-navbar color="dark" no-border>
    <ion-title>{{detail.titleText}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismissEvent()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="detailDisplay">

  <div *ngIf="eventDetail != null">
  <div class="imageDisplay">
    <h4>{{detail.title}}</h4>
    <img src={{detail.image}}>
    <br>

  <p><ion-icon name="md-alarm"></ion-icon> Time: {{detail.info1}}</p>
  <p><ion-icon name="md-pin"></ion-icon> Venue: {{detail.info2}}</p>

  </div>
    {{detail.details}}
  </div>

  <div *ngIf="fnbDetail != null">
    <div class="imageDisplay">
      <h4>{{detail.title}}</h4>
      <img src={{detail.image}}>
      <br>

      <p><ion-icon name="md-alarm"></ion-icon>{{detail.info1}}</p>

    </div>
    <div [innerHTML] = "detail.details"></div>
  </div>

  <div *ngIf="roomPromoDetail != null">
    <div class="imageDisplay">
      <h4>{{detail.title}}</h4>
      <img src={{detail.image}}>
      <br>
      <p><ion-icon name="md-alarm"></ion-icon><b> Booking Period:</b>
      {{detail.info1}}</p>
      <p><ion-icon name="logo-usd"></ion-icon><b> Promotion Period:</b>
      {{detail.info2}}</p>
      <p><b> Minimum Stay:</b>
      {{detail.info3}}</p>
      <p><b> Minimum Count:</b>
      {{detail.info4}}</p>
    </div>
    <div [innerHTML] = "detail.details"></div>
  </div>

  <div *ngIf="roomDetail != null">
    <div class="imageDisplay">

      <img src={{detail.image}}>
      <h5>{{detail.title}}</h5>
      <div class="iconSize">
      Occupancy : <ion-icon  *ngFor="let i of detail.occupancy" name="md-contact"></ion-icon>
      </div>
    </div>
    <br>
    <div class="detailText"> {{detail.details}}</div>
    <br>
  </div>

  <button ion-button  block (click)="dismissEvent()"> Close </button>







</ion-content>
