view-more {


  .detailDisplay {

    background-color: #333;
    color: #f4f4f4;

    .imageDisplay {
      text-align: center;
    }

    p {
      font-size: 1.6rem;
    }
  }

  .iconSize{
    font-size: 1.4em;
  }

  ion-grid{
    p{
      font-size:1.0rem;
    }
    padding: 0 0 0 0;
  }



}
