<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="menu">
  <ion-navbar color="dark" no-border>
    <button  menuToggle ion-button icon-only>
      <ion-icon item-end name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding class="registerBlackOverlay">

</ion-content>

<ion-content padding class="contentLayer">

<img src="assets/img/BayLogoHorizontal2.png">
<h5 class="registrationTitle"> New Account registration </h5>

  <ion-item class="register">

    <ion-label floating class="floatingLabel">
        Email
    </ion-label>
    <ion-icon item-start name="md-mail"></ion-icon>
    <ion-input></ion-input>

  </ion-item>

  <ion-item class="register">

    <ion-label floating class="floatingLabel">
      First Name
    </ion-label>
    <ion-icon item-start name="md-person"></ion-icon>
    <ion-input></ion-input>

  </ion-item>


  <ion-item class="register">

    <ion-label floating class="floatingLabel">
      Last Name
    </ion-label>
    <ion-icon item-start name="md-person"></ion-icon>
    <ion-input></ion-input>

  </ion-item>

  <button block ion-button> Register </button>
  <button block ion-button color="light"> Cancel </button>


</ion-content>
