page-register {

  .registerBlackOverlay{
    z-index: -1;
    background-color: rgba(0,0,0,0.5);
    .scroll-content {
      margin-top: 0px !important;
      padding-top: 0px !important;
    }
  }

  .registrationTitle{
    text-align: center;
    color: #f4f4f4;
  }

  .register{
    color:white;
    background-color: transparent;
    .floatingLabel{
      margin-left: 40px;
      color: #f4f4f4;
    }
    ion-input{
      margin-left: 80px;
    }


  }

  ion-icon{
    position: absolute;
  }

  ion-label{
    margin-left: 20px;
  }

}
