<!--
  Generated template for the FoodPromotionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark"  no-border>
    <ion-title>F&B Promotions</ion-title>
    <button  menuToggle ion-button icon-only>
      <ion-icon item-end name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding class="contentLayer">

  <ion-card class="Cards"  *ngFor="let foodPromo of foodPromoLists">
    <img src= {{foodPromo.image}}>
    <ion-card-content>
      <ion-card-title class="title">
        {{foodPromo.promoName}}
      </ion-card-title>
      <div class="cardOverflow" [innerHTML] = "'<ul>' + foodPromo.details + '</ul>'"></div>
      <div class="learnMoreButton">
        <button  ion-button clear  color="maroon"  icon-end (click)="foodPromoDetail(foodPromo)"> Read More <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
