<!--
  Generated template for the RoomPromotionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark" no-border>
    <ion-title>Room Promotion</ion-title>
    <button  menuToggle ion-button icon-only>
      <ion-icon item-end name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding class="contentLayer">

  <ion-card class="Cards"  *ngFor="let roomPromo of roomPromoList">
    <img src= {{roomPromo.image}}>
    <ion-card-content>
      <ion-card-title class="title">
        {{roomPromo.promoName}}
      </ion-card-title>
      <p><b>{{roomPromo.validity}}</b></p>
      <p class="cardOverflow">{{roomPromo.details}}</p>
      <div class="learnMoreButton">
        <button  ion-button clear  color="maroon"  icon-end (click)="roomPromotionDetail(roomPromo)"> Read More <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </div>
      <div class="shareButton">
        <button ion-fab icon-only color="facebook-button"><ion-icon  name="logo-facebook"></ion-icon></button>
        <button ion-fab icon-only color="twitter"><ion-icon name="logo-twitter"></ion-icon></button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
