<ion-header class="menu">
  <ion-navbar color="dark" no-border>
      <button  menuToggle ion-button icon-only>
        <ion-icon item-end name="menu"></ion-icon>
      </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="contentLayer">

  <ion-grid class="formInput">
    <ion-row>
      <ion-col>
        <ion-label> Check In Date </ion-label>
        <button detail-none no-lines ion-item clear (click)="pickDate('checkInDate')"> {{checkInDate | date:'dd/MM/y'}}
        <ion-icon item-right color="light" item-end name= "md-arrow-dropdown" > </ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col col-4>
        <ion-label> Night </ion-label>
        <ion-input (blur)="updateCheckOutDate()" [(ngModel)]= "nightStay" type="number"></ion-input>
      </ion-col>

      <ion-col col-8>

        <ion-label> Check Out Date </ion-label>
        <button detail-none no-lines ion-item clear (click)="pickDate('checkOutDate')"> {{checkOutDate | date:'dd/MM/y'}}
          <ion-icon color="light" item-end name= "md-arrow-dropdown" > </ion-icon>
        </button>

      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label> Adult </ion-label>
        <button detail-none no-lines ion-item clear (click)="selectOccupantAmount('Adult')"> {{adultCount}}
          <ion-icon color="light" item-end name= "md-arrow-dropdown" > </ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label> Children </ion-label>
        <button detail-none no-lines ion-item clear (click)="selectOccupantAmount('Children')"> {{childCount}}
          <ion-icon color="light" item-end name= "md-arrow-dropdown" > </ion-icon>
        </button>
      </ion-col>

    </ion-row>

  </ion-grid>

  <button block ion-button (click)="confirmBooking()"> Book Now</button>



</ion-content>


