page-home {


  .formInput{
    background-color: rgba(0,0,0,0.4);

    button{
      padding-left: 0;
    }

    ion-label{
      color: white;
      margin: 10px 5px 0px 10px;
    }

    input{
      color:white;
      font-size:1.7rem;
    }

    button {
      background-color: transparent;
    }

    ion-select{
      background-color: transparent;
      color:black;
      .select-icon {
        color:white;
        font-size: 1.7rem;
      }
    }

    .col{
      padding:0px;
    }
  }

   .alert-wrapper {
    background-color: #32db64;
  }




}
