// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts

// Font Awesome
$font-path: "../assets/fonts";
$fa-font-path: $font-path;
@import "font-awesome";

$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #222,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  menubar:  rgba(8, 8, 8, 0.4),
  maroon: maroon,
  searchBarColor: 	#4B4FB0,
  trans: transparent,
  white: #ffffff,
  twitter: (
    base: #55acee,
    contrast: #ffffff
  ),
  facebook: (
    base: #ffffff,
    contrast: #3b5998
  ),
  facebook-button: #3b5998,



);
// iOS default background override = transparent
$content-ios-transition-background: transparent;
$menu-width: 280px;
$menu-ios-background: primary;

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
  $menu-width: 360px;
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 736px) {
  $menu-width: 270px;
}

$item-md-body-text-line-height:1.0;
$label-ios-text-color-focused: #f4f4f4;
$label-md-text-color-focused: #f4f4f4;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$popover-md-width : 200px;




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


