// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.company-container{
  text-align: center;
  .company-profile{
    border-radius: 50%;
    width: 180px;
    height:180px;
    overflow: hidden;

  }
}

.slideLayer{
  background-color: transparent;
  z-index: -2;
  .scroll-content {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }

}

.contentLayer{
  background-color: transparent;
  z-index: 0;
}


.blackOverlay{
  z-index: -1;
  background-color: rgba(0,0,0,0.2);
  .scroll-content {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
}

modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: hidden;
  }
}

@media only screen and (min-height: 0px) and (min-width: 0px) {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.Cards{
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    max-height: 500px;




  ion-card-title{
    font-size: 1.8rem;
  }

  ion-card-content{
    padding-top:5px;
    padding-bottom:5px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  ion-list-header{
    font-size: 1.2rem
  }

  .menuColor{
    z-index: 20;
    background-color: #808080;
  }

  .confirmation{
    color:white;
    background-color:black;
  }

  .alert-md .alert-wrapper{
    color:white;
    background-color:black;
  }

  .learnMoreButton{

    text-align: right;
  }

  .cardOverflow{
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img{
    max-height: 250px;
    width: 100%;  /* set to anything and aspect ratio is maintained - also corrects glitch in Internet Explorer */
    height: auto;
  }


}
