

<ion-menu side="left" [content]="content" class="sideMenu">

  <ion-content no-padding class="menuColor">

    <div class="company-container">
      <br>
      <img class="company-profile" src="assets/img/wallpaper/wallpaper4.jpg">
      <h3>{{companyName}}</h3>
    </div>

    <ion-list>
      <button  ion-item menuClose detail-none no-lines  *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}} <ion-icon item-right name="{{p.icon}}"></ion-icon>
      </button>
    </ion-list>


  </ion-content>

</ion-menu>



<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-content class="slideLayer">

  <background-Slides></background-Slides>
</ion-content>

<ion-content class="blackOverlay"></ion-content>

