<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark" no-border>
    <button  menuToggle ion-button icon-only>
      <ion-icon item-end name="menu"></ion-icon>
    </button>
    <ion-title>Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="contentLayer">

<ion-card class="Cards" *ngFor="let event of eventsList">
  <img src= {{event.image}}>
  <ion-card-content>
    <ion-card-title>
      {{event.eventName}}
    </ion-card-title>
      <p>Venue:{{event.venue}}</p>
      <p>Time :{{event.date}}</p>
   <div class="learnMoreButton">
     <button  ion-button clear  color="maroon"  icon-end (click)="eventDetail(event)"> Read More <ion-icon name="ios-arrow-forward"></ion-icon>
     </button>
    </div>
  </ion-card-content>
</ion-card>

  <ion-fab middle right>
    <button ion-fab color="primary" color="maroon" (click)="searchEvent()"><ion-icon name="ios-search"></ion-icon></button>
  </ion-fab>



</ion-content>
